*{
    margin:0;
   padding:0;
   box-sizing:border-box;}

  body{
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #0c7b93 0%, #00a8cc 100%);
}
h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
h3{
    font-style: italic;
    font-size: 30px;
    color: #fff;
}
    .cgpacalculator{
        width: 500px;
        height: auto;
        border-radius: 10px;
        box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.03),
        7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    }
    .cgpacalculator > .cgpa title{
        width: 100%;
        height: 50px;
        background-color: #00abfa;
        text-align: center;
        line-height: 50px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        color: #fff;
        border-radius: 10px 10px 0px 0px;

    }
    .cgpacalculator > input{
        border: none;
        background-color: #fff;
        outline: none;
        width: 300px;
        height: 80px;
        border:1px solid #eee ;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: black;
        margin: 10px;

    }
    ::placeholder{
        color: black;
        font-size: 15px;
    }
    .cgpacalculator .cgpa_output{
        width: 100%;
        margin-left: 19px;

    }
    .cgpacalculator .cgpa_output h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        margin-top: 35px;
        color: #fff;


    }
    .cgpacalculator .cgpa_output #btn_re,
    .cgpacalculator .cgpa_output #btn_sub{
        border: none;
        background-color:#00abfa;
        outline: none;
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
        border-radius: 12px;
        margin: 50px 0px 50px 0px;
        color: #fff;
        box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.03),
        7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        padding: 15px 20px;


    }
    .cgpacalculator .cgpa_output #btn_re{
        margin-right: 150px;
    }
    .cgpacalculator .cgpa_output #btn_re:active,
    .cgpacalculator .cgpa_output #btn_sub:active{
        box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.03),
       inset 7px 7px 20px 0px rgba(0, 0, 0, 0.2),
       inset  4px 4px 5px 0px rgba(0, 0, 0, 0.1); 
    }
